body {
    background-image: radial-gradient(circle at 50% -20.71%, #9000f8 0, #8000f8 12.5%, #7000f8 25%, #6000f8 37.5%, #5000f8 50%, #6000f8 62.5%, #7000f8 87.5%, #8000f8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240vh;
    flex-direction: column;
}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

form {
    width: 600px;
    border: 2px solid #200769;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

legend h3{
    background-color: #ffae00;
    color: white;
    border-radius: 10px;   
    border: 4px solid #d89505b9;
}

fieldset{
    border-radius: 20px;
    border: 4px solid #d89505b9;
    background-color: #ffae00;
}

.enviar {
    padding: .5rem;
    color: white;
    background-color: #ffae00;
    width: 60%;
    border-radius: 5px;
    margin-right: 10px;
}

.enviar :hover{
    background-color: white;
    color: black;
}

.sep {
    border-top: 2px solid #ffffff;
    padding-top: 5px;
}

input{
    border-radius: 8px;
    border: 4px solid #ffae00;
}

select{
    border-radius: 8px;
    border: 4px solid #ffae00;
}